*{
 font-family: 'Arvo', serif;
 font-family: 'Roboto', sans-serif;
 font-size: 25px;
}

h1 { 
    display: flex;
    justify-content: center;
}

.futur {
    display: flex;
    justify-content: center;
    margin-top: 0px;
    margin-bottom: 60px;
}
 
.profil {
    border-radius: 50%;
   float: left;
   margin-left: 400px;
   width: 300px;border: 300PX;
}
nav  {
    display: inline;
    margin: 8px;
   
}

nav {  text-align: center;}

.info {
    width: 100px; border: 100px;
    float: right;
    margin-right: 600px;
    margin-top: 100px;
}

 a{ text-decoration: none;
    color: blanchedalmond;
}

  a:hover { color:rgb(214, 27, 67)
}

.name { color: blue;text-decoration: none ;}

.name:hover {color: crimson;}

.liens { color: darkblue;}

.liens:hover{color: darkred;}


  

a {font-size: 30px;}

main { background-color: rgb(243, 213, 255);}

.titrec { text-align: auto ; margin-top: 450px; margin-bottom: 80px; }
.competence { margin-left: 200px;  }

.floatd { float: right; margin-top: 211px; margin-right: 30px; }



.titre , .qualiter {float: left;}



.color { color: rgb(10, 103, 190);}



    a { 
        text-transform: capitalize; padding: 10px;
    }

    .formations {
        display: flex;
        justify-content: center;
    }

    
   

    .img1 { 
        margin-left: 500px;
        margin-bottom: 50px;
        margin-top: 40px;
        padding: 15px;
        border-width: 10px; border-style: groove; border-color: black ;
    }

    .img2 {
        margin-left: 370px;
        margin-bottom: 15px;
        padding: 15px;
    }

    .nom , .mail , .mess , .env { 
        display: block;
        justify-content: center;
        margin-left: 650px;
      
        
    }

    .mess { 
        padding: 20px;
    }

    .marg { margin-bottom: 50px;  font-size: 30px;}

    .envelop { margin-left: 650px;
        margin-bottom: 15px;
        padding: 15px;
        width: 200px;
        border: 150px;
        border-radius: 50%;
    }

.nom , .mail ,.mess { border-width: 5px; border-style: groove; border-color: black; 
background-color: rgb(211, 250, 248);
margin-bottom: 10px;}

.env{ border-width: 5px; border-style: groove; border-color: rgb(211, 212, 219);
background-color: rgb(74, 137, 209); margin-bottom: 25px;
margin-top: 5px;}

.am { float: right; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-style: italic;  margin-right: 10px; margin-top: 10px;   }

.linkedin { margin-left: 560px;  padding: none ;}


 
 footer img { width: 40PX;
    border: 50px ;
   
  }

.linkedin { display: flex;
justify-content: center; margin-right: 550px; }

.taille { margin-left: 170px;}

.tailless {margin-left: 220px;}



.email { margin-left: 60px; }



    footer h2 { text-align: center; 
    }

    
    .cont {   columns: 170px;}

    footer .tailles { width: 40PX;
        border: 50px ;
    margin-left: 230px;   }


    footer h3 {
        text-align: center; margin-bottom: 30px;
    }



    .progress{  background-color:rgb(29, 53, 158); } 

 .p2 { text-align: right; padding: 10px;}

 .name { padding-top: 50px; font-size: 30px;}

 

.competence h3 { display: flex;
    justify-content: left;}

progress { float: right; margin-right: 300px; }

.mes{ display: flex;
    justify-content: left; margin-top: 80px;}


.qualiter{ display: flex;
justify-content: left;}

.top  {margin-bottom: 30px;}

.espace {margin-bottom: 15px;}

ul li { list-style: none;}

footer { background-color: black;}

footer h3 , footer p , footer pre {color: blanchedalmond; font-size: 20px;}




.taille { width: 30PX;
    border: 40px ; 
 }

 .tailles {width: 30PX;
    border: 40px ; }

    .tailess {width: 40PX;
        border: 50px ; }

        .exp { text-align: center;}

        .forma{text-align: center;}


      @media(min-width: 270px) and (max-width: 600px)
{
    .floatd { display:none }

        h1 { 
            display: flex;
            justify-content: center;
        }
        
        .futur {
            display: flex;
            justify-content: center;
            margin-top: 0px;
            margin-bottom: 60px;
        }

        .profil {
            border-radius: 50%;
           float: left;
           margin-left: 200px;
           width: 200px;border: 200PX;
        }

        .info {
            width: 100px; border: 100px;
             margin-right: 150px;
            margin-top: 50px;
        }

        .titrec { text-align: auto ; margin-top: 450px; margin-bottom: 80px; }

.competence { margin-left: 50px;   }

progress { padding: 10px ; 
    width: 150px; 
}

.top  {margin-bottom: 32px;
}

progress { float: right; margin-right: 100px; }
